<header class="mb-10 border-b pb-6">
    <div class="flex flex-col xs:flex-row items-center justify-center">
        <div class="max-w-32 xs:mr-4 sm:mr-10 mb-4 md:mb-0">
            <a href="{{ "/" | absolute_url }}" title="{{ site.title }}">
                <img class="rounded-lg" src="{{site.logo | relative_url}}" alt="Logo" />
            </a>
        </div>
        <div class="text-center xs:text-left">
            <a class="block text-3xl mb-3 text-brand-red" href="{{ "/" | absolute_url }}" title="{{ site.title }}">{{ site.title }}</a>
            <div class="text-sm leading-normal max-w-lg mb-0">
                <div class="mb-2">Welcome to my AI playground. 👋</div>
                <div>
                    Join me as I delve into practical AI tools and applications. I like bleeding edge
                    technology and API's and explore interesting use cases and new tools.
                </div>
                <div>I love Laravel (TALL Stack) ❤️ and all things JS.</div>
            </div>
        </div>
    </div>
</header>