<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/styles.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    </head>
    <body class="pt-5 sm:pt-7 {{ page.slug | replace: ' ', '-' | downcase }}">
        <div class="wrapper container mx-auto max-w-3xl">
            {% include header.html %}
            <section class="prose prose-headings:text-brand-red prose-pre:text-sm prose-img:my-[1.25em] prose-figure:my-0 prose-figcaption:mt-0 prose-figure:text-center max-w-none mx-auto">
                {{ content }}
                {% include outro.html %}
            </section>
            {% include footer.html %}
        </div>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('a').forEach(function(link) {
                    if (link.host !== window.location.host) {
                        link.setAttribute('target', '_blank');
                    }
                });
            });
        </script>
    </body>
</html>